@use "mixinsfunc";
@mixin arreglar-imagen {
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: 0 0;
}

.hero {
  &__container {
    height: calc(100vh - 70px);
    background-image: linear-gradient(#00000059, #00000075),
      url("../img/video-bg-1024x576.jpg");
    @include mixinsfunc.crear-flexbox(center);
    @include arreglar-imagen;
  }
  &__texts {
    color: white;
  }
  &__title {
    font-size: mixinsfunc.pixeles-rem(40);
    margin-bottom: mixinsfunc.pixeles-rem(10);
  }
  &__paragraph {
    font-size: mixinsfunc.pixeles-rem(18);
  }
}
