body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.notification {
  width: 48px;
  margin: 100px auto;
  animation: ring 4s 0.7s ease-in-out infinite;
  -webkit-animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}
.notification .count {
  --size: 30px;
  font-size: 12px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: solid 2px white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  box-sizing: border-box;
  position:relative;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  top: 20px;
  left: 20px;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
1%{
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
3%{
    transform:rotate(-28deg);
    -webkit-transform:rotate(-28deg);
    -moz-transform:rotate(-28deg);
    -ms-transform:rotate(-28deg);
    -o-transform:rotate(-28deg);
}
5%{
    transform: rotate(34deg);
    -webkit-transform: rotate(34deg);
    -moz-transform: rotate(34deg);
    -ms-transform: rotate(34deg);
    -o-transform: rotate(34deg);
}
7%{
    transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    -moz-transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    -o-transform: rotate(-34deg);
}
9%{
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
11%{
    transform: rotate(-28deg);
    -webkit-transform: rotate(-28deg);
    -moz-transform: rotate(-28deg);
    -ms-transform: rotate(-28deg);
    -o-transform: rotate(-28deg);
}
13%{
    transform: rotate(26deg);
    -webkit-transform: rotate(26deg);
    -moz-transform: rotate(26deg);
    -ms-transform: rotate(26deg);
    -o-transform: rotate(26deg);
}
15%{
    transform: rotate(-24deg);
    -webkit-transform: rotate(-24deg);
    -moz-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    -o-transform: rotate(-24deg);
}
17%{
    transform: rotate(22deg);
    -webkit-transform: rotate(22deg);
    -moz-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    -o-transform: rotate(22deg);
}
19%{
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}
21%{
    transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
}
23%{
    transform: rotate(-16deg);
    -webkit-transform: rotate(-16deg);
    -moz-transform: rotate(-16deg);
    -ms-transform: rotate(-16deg);
    -o-transform: rotate(-16deg);
}
25%{
    transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    -o-transform: rotate(14deg);
}
27%{
    transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
}
29%{
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}
31%{
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
}
33%{
    transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}
35%{
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}
37%{
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}
39%{
    transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
41%{
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}
43%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
}
